<div>
  <div class="content-wrapper">
    <div uib-alert ng-class="'alert-' + alerts.type" ng-show="alerts.alert" type="{{alerts.type}}" close="closeAlert()">{{alerts.msg}}
    </div>
    <div class="col-md-12 text-center col-pad-fix" ng-show="onChangePassword">
      <div class="progressMsg"><i class="fa fa-spinner fa-spin fa-2x"></i>Loading data</div>
    </div>
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Change Password</li>
      </ol>

      <div class="card mb-3">
        <div class="card-body">
          <div class="col-md-12 col-pad-fix vertical-align">
            <div class="col-md-4">
              <img src="assets/images/changePassword.jpeg" />
            </div>
            <form name="cpForm" class="col-md-8 ">
              <div class="col-md-12 vertical-align form-group">
                <div class="col-md-4">
                  <label for="userName">Old Password </label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" id="oldPassword" type="password" aria-describedby="oldPassword"
                    placeholder="Enter old password" ng-model="cpData.oldPassword" required>
                </div>
              </div>
              <div class="col-md-12 vertical-align form-group">
                <div class="col-md-4">
                  <label for="userName">New Password</label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" id="newPassword" type="password" aria-describedby="newPassword"
                    placeholder="Enter new password" ng-model="cpData.newPassword" required>
                </div>
              </div>
              <div class="col-md-12 vertical-align form-group">
                <div class="col-md-4">
                  <label for="userName">Re-Type Password</label>
                </div>
                <div class="col-md-8">
                  <input class="form-control" id="renewPassword" ng-model="cpData.renewPassword" type="password"
                    aria-describedby="Re-EnterNewPassword" placeholder="Re-Enter new password" required>
                </div>
              </div>
              <a class="btn btn-primary pull-right" ng-disabled="cpForm.$invalid || !(cpData.newPassword==cpData.retypePassword)"
                ng-click="changePassword()">Change Password</a>
            </form>
          </div>

        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>
    <!-- /.container-fluid-->
  </div>
  <!-- /.content-wrapper-->
  <footer class="sticky-footer">
    <div class="container">
      <div class="text-center">
        <small>Copyright © Scale Labs</small>
      </div>
    </div>
  </footer>
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>
</div>