<div>
    <div class="content-wrapper">
        
        <div class="container-fluid">
            <div uib-alert ng-class="'alert-' + alerts.type" ng-show="alerts.alert" type="{{alerts.type}}" close="closeAlert()">{{alerts.msg}}
        </div>
        <div class="col-md-12 text-center col-pad-fix" ng-show="onLoad">
            <div class="progressMsg"><i class="fa fa-spinner fa-spin fa-2x"></i>Loading data</div>
        </div>
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li>You are here: &nbsp;</li>
                <li class="breadcrumb-item">
                    <a href="#/">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Order Tracking</li>
            </ol>
            <div class="card">
            <div class="card-header">
            <i class="fa fa-motorcycle"></i> Order Tracking
          </div>


          <div class="card-body">
            <div class="gridtopRow clearfix">
                <div class="pull-left shipPro">
                    <label class="control-label">Shipment Provider: </label>
                    <select class="styled-select form-control" ng-model="selectedShipmentProvider" ng-options="provider for provider in providerList" ng-change="shipmentProviderChanged()">
                    </select>
                </div>
                <div class="pull-left shipPro">
                    <label class="control-label">Tracking Id: </label>
                    <input type="text" ng-model="trackingId" class="form-control" ng-change="trackingIDChanged()">
                    
                </div>
                <div class="pull-left gobtn">
                    <label class="control-label"></label>
                    <button class="btn btn-xs btn-normal pull-left " ng-click="trackOrder()" ng-disabled="disableGo">Go</button>
                    
                </div>
                
            </div>
                <!-- <div class="progress">
                    <div class="progress-bar bg-success" style="width:25%" ng-if="picked-up">
                        Picked Up
                    </div>
                    <div class="progress-bar bg-info" style="width:25%" ng-if="arrived">
                        Arrived
                    </div>
                    <div class="progress-bar bg-warning" style="width:25%" ng-if="departed">
                        Departed
                    </div>
                    <div class="progress-bar bg-danger" style="width:25%" ng-if="delivered">
                        Delivered
                    </div>
                </div> -->
                <div id="trackGrid" ng-show="searched">
               <div ui-grid="trackingDetailsGrid" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize class="grid">        
            </div> 
        </div>
            <div class="card-footer small text-muted">
                Updated at <span>{{formattedDate}}</span>
            </div>
        </div>
    </div>
        <!-- /.container-fluid-->
    </div>
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © Scale Labs</small>
            </div>
        </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
     </a>
</div>